

@media(max-width:1000px) {
    body{
        background-color:var(--bg-color);
    }

    .sidebar {
        width: 35px;
        transition: all 0.2s;
    }
    
    .logo-normal{
        display: none;
    }

    .smal-logo{
        display: block;
    }

    .sidebar-navigation-item{
        width: 40px;
    }

    .sidebar-navigation-item-text{
        display: none;
    }

    .main {
        margin-left: 120px;
    }

}