
main {
    background-color: rgb(64, 64, 64);
    color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 660px;
    padding: 50px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.685);
}

.title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.input {
    border-radius: 5px;
    background-color: rgb(52, 52, 52);
    padding: 12px;
}

.btn {
    border-radius: 5px;
    background-color: red;
    padding: 8px;
    font-size: 24px;
    margin-bottom: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Ideias para fazer depois */
.btn:hover {
    background-color: black;
    color: white;
}

.text2 {
    padding-left: 140px;
}

.infomarcoes {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.information {
color: gray;
}

.information span {
    color: white;
}

.information a {
    color: blue;
}




