:root{
    --bg-color: #d2c9c9;
    --title-color:#000;
}

.dark-theme {
    --bg-color: #191818;
    --title-color:#fff;
}

body {
    background-color: var(--bg-color);
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.title {
    color: var(--title-color);
}