:root{
    --bg-color: #d2c9c9;
}

.dark-theme {
    background-color: #191818;
}

body {
    background-color: var(--bg-color);
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

