
:root {
    --cor-fundo: #838181;
    --cor-: #000;
    --cor-: #000;
    --cor-: #000;
    --cor-: #000;
}

.ligth {
    --cor-fundo: #fff;
}

body {
    background-color: var(--cor-fundo);
}

.btn-check-in {
    color: red;
}

table {
    width: 100%;
}

thead{
    text-align: left;
}