.grama {
    background-color: greenyellow;
}

.veneno {
    background-color: blueviolet;
}

.fogo {
    background-color: crimson;
}

.voador {
    background-color: gold;
}

.agua {
    background-color: blue;
}

.inseto {
    background-color: #a6b91a;
}

.fantasma {
    background-color: dimgrey;
}

.pisicico {
    background-color: rgb(244, 7, 204);
}

.bulbasaur:hover {
    background-color: #479594;
}

.ivysaur:hover {
    background-color: #3C744F;
}

.venusaur:hover {
    background-color: #5A9C39;
}

.charmander:hover {
    background-color: #F0923E;
}

.charmeleon:hover {
    background-color: #E84B44;
}

.charizard:hover {
    background-color: #CA5936;
}

.squirtle:hover {
    background-color: #99D1D9;
}

.wartortle:hover {
    background-color: #8CADF7;
}

.blastoise:hover {
    background-color: #437CC1;
}

.caterpie:hover {
    background-color: #498847;
}

.metapod:hover{
    background-color: #84C64A;
}

.butterfree:hover{
    background-color: #7363AD;
}

.gastly:hover {
    background-color: #5A6988;
}

.haunter:hover {
    background-color: #c1788d;
}

.gengar:hover {
    background-color: #9473B5;
}

.mewtwo:hover {
    background-color: #B168E4;
}