@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    background-color: grey;
    font-family: "Poppins", sans-serif;
}

.header {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.logo{
    height: 40px;
}

.imagem-botao{
    height: 40px;
}

main {
    display: flex;
    justify-content: center;
    background-color: blue;
}

.listagem-pokemon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    background-color: red;
    height: 50vw;
    width: 130vh;
}

.cartao-pokemon {
    background-color: wheat;
    height: 300px;
    width: 230px;
}