

html {  /* Deixa a rolagem automatica do site suave*/
    scroll-behavior: smooth;
}

* {
    font-weight: 300;
    font-family: serif;
}

body {
    max-width: 1440px;
    
}

.cabecalho {
    padding: 30px 15px;
    position: relative;
}

.cabecalho .logo {
    width: 85px;
    height: 85px;
    display: inline-block;
}

.cabecalho nav {
    display: inline-block;
    position: absolute;
    right: 0;
    margin-top: 30px
}

.cabecalho ul li {
    display: inline-block;
    padding: 15px;
}

.cabecalho ul li a:hover {
    font-weight: bold;
}

.painel {
    background: url(https://s3-alpha-sig.figma.com/img/b428/a035/85e15d31bfc4558e26045047611df86c?Expires=1708905600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=qL~uFBIOogNzLik8R0j1h~IhdhMhAvcEyztZ-2MgwnGDbA9~c8yQmQtxwdAfvQh1X8jGMjd97Usqb8N-9itxstEQYGnLoaWGFUeN4vOxJu8XS0RnClw7pHb2910KUUEWHEPnndHe66dXQp4MVcRYHdEuLlyNpuT8dUl3hREQf1pFvqNhEcCwFpi69ZTsAULDbOBmF6FKhgiGc80imONuFr8h1mN5-LCh8DaYLTJCEO5j5ZQ9zeJiiGEtyShysSyjkYf4tp8ffYzk6keqpKHAEBagisUop1QN8UT1vYbR2XbY801pf4deWqeQAgVDI7k1rrczWdqH2JMl1z7VbzGS0w__) center center no-repeat;
    height: 600px;
}

.painel h2 {
    color: white;
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.secao-com-texto {
    padding: 153px;
    text-align: center;
    clear: both;
}

.secao-com-texto img {
    height: 170px;
    width: 170px;
    margin-bottom: 70px;
}

.secao-com-texto h2 {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 37px;
}

.secao-com-texto p {
    font-size: 18px;
    width: 702px;
    margin: 0 auto;
}

.secao-com-texto.onde-estamos p {
    font-size: 28px ;
    width: 450px;
}

.ladrilho div{
    float: left;
}

.ladrilho .grande {
    background: url(https://s3-alpha-sig.figma.com/img/a38a/21cc/58cd09d7f2b93858916e40714374b765?Expires=1708905600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=pZg7ygIHupbQ4I~hCy6Ii8PG8~5fnsMLTT2K90r88xKHvnjVQbkH-NdF6-lel5IdC3lkQ4ckULd9WYh7CEcSACFJdH45tLrlL4zgaHglG68GhWT-XoBNHvKZnPzZForesUH22mnTULnfWNAR-Qzp~kFinQI1W09amYVQNBGjh~jjRO3mtVrhB3vPJ40H400ojWDscypfMPNFZkVQqGZoQdhPNRziLnj4sMUuJ8FgYzCAtnLQs~FmDdDf46xVYwMdMZcj9E8ooU9x9Vs5s6Gn1MOeiP02Taf~oVISfK6CFBrdMei~O59Dovbed921EUNjkNWiKeVJATEWE1~GH4BlNg__) center center no-repeat;
    height: 600px;
    width: 50%;
}

.ladrilho .pequeno {
    background: url(https://s3-alpha-sig.figma.com/img/212c/aef6/753a6c75509e9ade88b6775af2611478?Expires=1708905600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=murx5CYtdOzRn~PYlpiIiKxMSXD~SyUhBlXKlkHeu6DZF6Fn6BGfk8dRnHNgiMULrij6HcPlxcwOVN5p0pv-1bOiFuj22mFDE70KjuwFzkD8PnvEnzQxv9aDcjKMzLUw7nfKvE0YeGbzzs~BfJiLJ9UZhOtO~5CabnYCvF50nSIqpUYZxXjSIWPvpUtUdY8zO~Ol~h-mUGNOVT6DL2Teybk3McoA~1p1S0JLeheSbc~bUOpd5g7DkwOJWb7koUqCv2dinuqQl~5wsvw9DtRy2~ANDlwfW-o9e2CZKjdYIybKPPMtqdTF5hUVRjAQ9DtUKZf9TVJxHHUDDwbE5tNJfg__ ) center center no-repeat;
    height: 300px;
    width: 25%;

}

.ladrilho .pequeno.grao {
    background: url(https://s3-alpha-sig.figma.com/img/db50/f4d5/b441d874e88cec0f2249eec569084eb6?Expires=1708905600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=q0vzJYT29MHrvp7b~rLaYcAcxf5C8TOdkAueCpProvlXl-DRp6DxjlNLeklqIHwo3AS3gL4k4duXrC-bgOSKLBarR7UYXWQwzDSvctbYNxmKjuzdfMZolwOlQmyzGOeQbgr71x-b-0OQqCgSn7mvobq7AjN1breQDYWZcbAn7OwpVwBKUL~Md2TtHA9uwvZ9eI3aYFUkVUvVEceGJbg~5KyxRk3D6eyN5dJTJQ7euI2heb61o4KKyb56CkYGi7fS0b36w9uFsnhrSKomH7R7DHXtRjUrfopq4GRwh3ACP4ESDi6rgTnGUb30dShzJd9atJiU6gmPJ89o3UXyKbZnBg__) center center no-repeat;
    height: 300px;
    width: 25%;
}

.ladrilho .medio {
    background: url(https://s3-alpha-sig.figma.com/img/992d/63bc/9b1fc6b00cf21f9d644a9359a4d6d96c?Expires=1708905600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=NkNWLo9rlaxuKXdRLEYK8p8-J0pThNSDEOoSLcjron6jEe4RB70~9b~B1rZx0~lQh~doQP~InKtMkOY0qAMiFNOAJdYDMqn~BWu4rJQuAGhC0Y~OGTMHI0QY4OBKpgJaW3mnUn2hzX0phlDR1-nGRZ3H1LWiwnUOo9IUua3L7~66Zdw1fk0QZfZFr~WygkkrFniffm4ROnrnsxFiHnQ7qvqTayLbCznvGVukZ-zmZrkPtljg9x7OukFp5ipukRggrW646Jef1lr~Xu13iAVCz~MZCW7ObFUujpKMthMRhlrLAq9xzosbqJmULIt7amBZnQwENYRt06pN9ldtl~9HWA__);
    height: 300px;
    width: 50%;
}

.contato {
    background: url(https://s3-alpha-sig.figma.com/img/c60c/ce49/0d426a3d2a62a091d6684452c14885e4?Expires=1708905600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=IQ4OdegJNZzoqFIHkfSupkAP1e-Wd~Amx0RuMSJrhJQnWMizol4rYu3BnXU2Tann9TKhAB4SXjv-1TtS6JCm0RJz9hOkAyqSIl2Z82VhOeHoPBWSZOMyMayJRnSaYdQ~j-eAjjmaP4RDyy6LxrgfItJ~3joiioFZc3CS2quVnkjwD0zCZYtnwAS9a7DWpoFQF1ijWzKdyFNN88-LiWrjfGekTnAToT4zS63gK6uKiwTncaHPVPo8xWtgyVfgoVpxI-G0W5a-PTdJ3rsMSQ5RhoqM0gTg1DUTC9zqmldHOeq9WOkmJSzvRwkwowRVh7kbU7raXWWgqHxo6mmelX5gaA__) center center no-repeat;
    color: white;
    height: 600px;
    position: relative;
}

.contato h2 {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 30px;
}

.contato address {
    font-size: 25px;
    font-weight: 600;
}

.contato .texto {
    position: absolute;
    top:30%;
    left: 50%;
}